.rent-datetime {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
  }
}

.rent-time {
  display: flex;
  margin-bottom: 10px;

  & > div {
    width: 50%;
  }
}

.rih-time-picker {
  width: 285px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-bottom: 10px;
}