@import "./components/InventoryBookingBadge/styles.scss";
@import "./components/RentDatetimePicker/styles.scss";
@import "./components/RentInformation/styles.scss";
@import "./components/ModalBooking/styles.scss";

.booking {
  background-color: var(--widget-background);
  min-height: 100vh;

  &__promo {
    margin-top: 30px;
  }

  &__promo-row {
    display: flex;
  }

  &__promo-input {
    border-radius: 8px;
    border: 1px solid var(--widget-border-color);
    box-shadow: var(--widget-box-shadow-input);
    margin-right: 15px;
    max-width: 250px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__promocode {
    margin-top: 20px;
  }

  &__range {
    margin-top: 36px;
  }

  &__wrapper {
    margin-top: 40px;
    display: flex;

    @media (max-width: 800px) {
      flex-wrap: wrap;
    }
  }

  &__time,
  &__info {
    width: 50%;

    @media (max-width: 800px) {
      width: 100%;
    }
  }

  &__time {
    display: flex;
    justify-content: center;

    @media (max-width: 800px) {
      margin-bottom: 30px;
    }
  }

  &__calendar {
    display: inline-block;
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
  }

  &__error-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__error {
    margin-top: 10px;
    color: var(--widget-red);
    font-size: 14px;
    line-height: 1.2;
  }

  &__success {
    margin-top: 10px;
    color: var(--widget-green);
    font-size: 14px;
    line-height: 1.2;
  }
}