.inv-card {
  background-color: var(--widget-background-second);
  padding: 15px 0;
  border-radius: 12px;
  box-shadow: var(--widget-box-shadow-cards);
  position: relative;

  display: flex;
  flex-direction: column;

  @media (max-width: 500px) {
    padding: 10px 0;
  }

  @media (max-width: 400px) {
    padding-top: 30px;
  }

  &__image {
    width: 100%;
    height: 130px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 8px;
    padding: 0 25px;

    &:hover {
      cursor: pointer;
    }

    &--mt {
      margin-top: 22px;
    }

    &--rounded {
      width: calc(100% - 50px) !important;
      height: 160px;
      align-self: center;
      border-radius: 12px;

      @media (max-width: 500px) {
        width: calc(100% - 30px) !important;
      }

    }

    @media (max-width: 750px) {
      width: 75%;
      align-self: center;
      height: 150px;
    }

    @media (max-width: 500px) {
      width: 75%;
      align-self: center;
      height: 100px;
    }

    @media (max-width: 400px) {
      width: 75%;
      align-self: center;
      height: 80px;
    }
  }

  &__category {
    color: #aaa;
    font-size: 13px;
    padding: 0 25px;

    @media (max-width: 500px) {
      padding: 0 15px;
      font-size: 12px;
    }

  }

  &__heading {
    padding: 0 25px;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: auto;

    @media (max-width: 500px) {
      padding: 0 15px;
      margin: 5px 0;
      font-size: 16px;
    }

    @media (max-width: 410px) {
      font-size: 14px;
    }

    @media (max-width: 340px) {
      font-size: 13px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    color: #a7a7a7;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 10px 25px 0;

    @media (max-width: 500px) {
      font-size: 12px;
      padding: 10px 15px 0;
    }

    @media (max-width: 400px) {
      font-size: 10px;
    }
  }

  &__icon {
    position: relative;
    top: 0.11em;
  }

  &__additional {
    margin-right: 8px;
    margin-bottom: 4px;

    & i {
      margin-right: 4px;
    }

    @media (max-width: 500px) {
      font-size: 12px;
    }

    @media (max-width: 400px) {
      font-size: 10px;
    }
  }

  &__more,
  &__book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 14px;

    @media (max-width: 500px) {
      padding: 7.5px 15px;
      font-size: 14px;
    }

    @media (max-width: 430px) {
      font-size: 12px;
    }

    @media (max-width: 340px) {
      font-size: 11px;
    }

    & svg {
      transform: translateX(0);
      transition: all 0.3s ease;
    }

    &:hover svg {
      transform: translateX(-4px);
    }
  }

  &__more {
    color: #666;
    border-top: 2px solid #fafafa;
    border-bottom: 2px solid #fafafa;
  }

  &__book {
    font-weight: 700;
    color: var(--widget-primary);
    padding-bottom: 5px;
  }
}