.rih-header-date-pick {
    &__group {
        display: flex;
        align-items: center;
    }

    &__add-label {
        margin-right: 10px;

        @media (max-width: 500px) {
            display: none;
        }
    }
}