.cart-fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;

  background-color: var(--widget-primary);
  color: #fff;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 15px 0px rgba(34, 60, 80, 0.3);

  &:hover {
    cursor: pointer;
  }

  & svg {
    width: 35px;
    height: auto;
    position: relative;
  }

  &__count {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    bottom: 12px;
    font-size: 16px;
    background-color: #f80000;
    color: #fff;

    &--smaller {
      font-size: 12px;
    }
  }
}