.top-menu {
  padding: 10px 50px 0;
  display: flex;
  &__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  &__auth-btn {
    margin-left: auto;
  }

  &--bg {
    background-color: var(--widget-background);
  }
}