.top-menu {
  padding: 10px 50px 0;
  display: flex;

  @media (max-width: 600px) {
    padding: 10px 25px 0;
  }

  @media (max-width: 400px) {
    padding: 10px 10px 0;
  }
  @media (max-width: 330px) {
    padding: 10px 5px 0;
  }

  &__back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }

  &__auth-btn {
    margin-left: auto;
  }

  &--bg {
    background-color: var(--widget-background);
  }
}