#rih-widget {
  --widget-border-color: #ccc;
  --widget-red: #e53935;
  --widget-green: #28a745;

  --widget-primary: #2e55b9;
  --widget-primary-hover: #294ca5;
  --widget-primary-light: #c0c6e2;
  --widget-primary-lightest: #e5e7f3;
  --widget-background: #fafafa;
  --widget-background-second: #ffffff;

  --widget-danger: #ff3e3e;
  --widget-danger-rgb: 255,62,62;
  --widget-danger-hover: #e62525;

  --widget-box-shadow-input: 0px 3px 4px 0px rgba(0, 0, 0, 0.08);
  --widget-box-shadow-cards: 0px 4px 7px 0px rgba(0, 0, 0, 0.08);
  --widget-box-shadow-box-1: 0px 0px 15px 0px rgba(34, 60, 80, 0.1);
  --widget-box-shadow-box-2: 0px 0px 15px 0px rgba(34, 60, 80, 0.3);
  --widget-box-shadow-calendar: 0px 0px 15px 0px rgba(34, 60, 80, 0.1);

  --widget-input-fz: 14px;
}