.inv-list {
  background-color: var(--widget-background);

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    min-height: 200px;
    text-align: left;

    @media (max-width: 1045px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }

  }

  &__pagination {
    text-align: center;
  }
}